.Skills {
  font-size: 15px;
}
.SkillsName {
  background-color: aqua;
  border-radius: 5px;
  margin: 10px;
  width: 70px;

  text-align: center;
}
.container {
  display: flex;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
